body {
    background-color: rgb(222, 222, 184);
}



h1 {
    text-align: center;
    font-size: 50px;
    color: #0a660a
}




.heading {
    font-size: 30px;
    text-decoration: underline;
}



img {
    height: 500px;
}



img,
.recipes-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.recipes-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral;
    border-radius: 8px;
}




.mini-heading,
.recipes-button,
li,
p {
    font-size: 20px;
}




.recipes-button:active {
    color: white;
}