body {
    background-color: rgb(222, 222, 184);
}


h1 {
    text-align: center;
    font-size: 50px;
    color: #0a660a
}


h2 {
    margin-left: 60px;
}


.img-description-container {
    vertical-align: top;
    display: flex;
}


img {
    height: 500px;
    margin: 5px 5px 5px 100px;
}


.description-container {
/* Once I learn about flexboxes, center this vertically */
    margin: 0 60px;    
}


.heading-p {
    width: 500px;
}


.heading {
    font-size: 30px;
    text-decoration: underline;
}


.recipes-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral;
    border-radius: 8px;
    display: block;
    padding: 5px 15px;
}


h3,
h4,
h5,
h6 {
    text-align: center;
}


.ingredients-container,
.steps-container,
.make-ahead-container,
.serving-ideas-container {
    margin: auto 60px;
}


.recipes-button {
    margin-left: auto;
    margin-right: auto;
}


.mini-heading,
.recipes-button,
li,
p {
    font-size: 20px;
}


.recipes-button:active {
    color: white;
}