body {
    background-color: rgb(222, 222, 184);
}



h1 {
    text-align: center;
    font-size: 50px;
    color: #0a660a
}




.heading-box {
    vertical-align: top;
    display: flex;
}



.heading-right {
/* Once I learn about flexboxes, center this vertically */
}


.heading {
    font-size: 30px;
    text-decoration: underline;
}



.heading-p {
    width: 500px;
}




img {
    height: 500px;
}



img,
.recipes-button {
    margin-left: auto;
    margin-right: auto;
}



.recipes-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral;
    border-radius: 8px;
    display: block;
}




.mini-heading,
.recipes-button,
li,
p {
    font-size: 20px;
}




.recipes-button:active {
    color: white;
}