body {
    background-color: rgb(198, 92, 240);
}


h1 {
    text-align: center;
    font-size: 50px;
    color: #d4f6d4
}



img,
.recipes-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 500px;
}



.heading {
    font-size: 30px;
    text-decoration: underline;
    color: rgb(74, 51, 20);
}



li,
.description-font,
.recipes-button {
    font-size: 20px;
}



.ingredients p {
    font-size: 22px;
    font-style: italic;
}



.recipes-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(194, 11, 11);
    border-radius: 8px;
}



.recipes-button:active,
.button-font {
    color: white;
}

