body {
    background-color: rgb(198, 92, 240);
}


h1 {
    text-align: center;
    font-size: 50px;
    color: #d4f6d4
}


h2 {
    margin-left: 140px;
}


.img-description-container {
    vertical-align: top;
    display: flex;
}


img {
    height: 500px;
    margin: 5px 5px 5px 100px;
}


.description-container {
    /* Once I learn about flexboxes, center this vertically */
    margin: 0 60px;
}


.heading-p {
    width: 500px;
}


.heading {
    font-size: 30px;
    text-decoration: underline;
    color: rgb(74, 51, 20);
}


.recipes-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(194, 11, 11);
    border-radius: 8px;
    display: block;
    padding: 5px 15px;
}


h3,
h4 {
    text-align: center;
}


.ingredients-container,
.steps-container {
    margin: auto 60px;
}


.recipes-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


li,
.heading-p,
.recipes-button {
    font-size: 20px;
}


.ingredients-container p {
    font-size: 22px;
}


.recipes-button:active,
.button-font {
    color: white;
}

