body {
    background-color: rgb(247, 120, 88);
}



h1 {
    text-align: center;
    font-size: 50px;
    color: #fff202
}




.img-description {
    vertical-align: top;
    display: flex;
}



img {
    height: 500px;
}



.description {
    /* Once I learn about flexboxes, center this vertically */
}



.heading-p {
    width: 500px;
}



.heading {
    font-size: 30px;
    text-decoration: underline;
    color: rgb(16, 61, 18);
}



.recipes-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(194, 75, 11);
    border-radius: 8px;
}



h3,
h4,
h5,
h6 {
    text-align: center;
}




img,
.recipes-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}





li,
.recipes-button,
p {
    font-size: 20px;
}



.ingredients p {
    font-size: 22px;
    font-style: italic;
}




.recipes-button:active,
.button-font {
    color: white;
}

