body {
    background-color: rgb(247, 120, 88);
}


h1 {
    text-align: center;
    font-size: 50px;
    color: #fff202
}


.img-description-container {
    vertical-align: top;
    display: flex;
}


img {
    height: 500px;
    margin: 5px 5px 5px 100px;
}


.description-container {
    margin: 0 60px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.heading-p {
    width: 500px;
}


.heading {
    font-size: 30px;
    text-decoration: underline;
    color: rgb(16, 61, 18);
}


.notes-container {
    border: 5px dotted yellow;
    margin: 0 60px 20px 60px;
}


.recipes-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(194, 75, 11);
    border-radius: 8px;
    padding: 5px 15px;
}


h3,
h4,
h5,
h6 {
    text-align: center;
}


.ingredients-container,
.steps-container {
    margin: auto 60px;
}


.steps-container ol {
    width: 1000px;
    margin-left: 150px;
}


.ingredients-container ul {
    margin-left: 400px;
}


.recipes-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


li,
.recipes-button,
p {
    font-size: 20px;
}


.ingredients-container p {
    font-size: 22px;
    font-style: italic;
}


.recipes-button:active,
.button-font {
    color: white;
}

